.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background-color: #224067;
  border-radius: 25%;
  padding: 8px;
  width: 48px;
  height: 48px;
  z-index: 9999;
}

.swiper-button-prev {
  left: -22px;
  z-index: 9999;
}

.swiper-button-next {
  right: -22px;
  z-index: 9999;
}
